#list {
    width: 100%;
    grid-column: 1/18;
}

#footer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
}

#delete-list {
    width: 100%;
    background-color:#E35656;
    color: white;
    grid-column: 2/17;
    margin-bottom: 15px;
    font-size: 14pt;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

#delete-list:active {
    background-color: #E35656;
}

#list-name {
    grid-column: 2/7;
    text-align: center;
    font-size: 18pt;
    color: black;
    margin: 0;
}

#list-refresh {
    grid-column: 15/17;
    width: 75%;
}

#list-code {
    color: black;
    text-align: center;
    font-size: 14pt;
    margin-top: 20px;
    font-weight: 200;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #577592;
}

#add {
    text-align: center;
    color: black;
    font-size: 28pt;
    margin: 10px 10px;
}
#categories {
    margin-bottom: 50px;
}

#crossed-off {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 100px;
}

#crossed-off-header {
    text-align: center;
    display: grid;
    border-bottom: solid 2px;
    color: black;
}

#crossed-off-title {
    font-size: 14pt;
    font-weight: 300;
    margin-bottom: 0px;
}

.modal-body {
    text-align: center;
}

.category {
    box-sizing: border-box;
    padding: 30px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
    box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.16);
    border-radius: 7px;
}

.category-header {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: black;
    align-items: center;
    justify-items: center;
}

.move-down {
    grid-column: 1;
    font-size: 10pt;
}

.move-up {
    grid-column: 2;
    font-size: 10pt;
}

.category-title {
    grid-column: 3/11;
    font-size: 13pt;
    font-weight: 300;
    margin-bottom: 0px;
}

.delete-category {
    grid-column: 11/13;
    width: 20px;
}

.new-item {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    border: solid 1px;
    margin-top: 15px;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 13pt;
}

.new-item-text-input {
    margin: 0;
    grid-row: 1;
    grid-column: 1/7;
    width: 100%;
    background-color: transparent;
    border: none;
}

.new-item-text-input:focus {
    outline: none;
}

.new-item-text-input::placeholder {
    font-weight: 200;
}

.new-item-btn {
    margin: 0;
    grid-row: 1;
    grid-column: 7;
    width: 70%;
}

.item {
    color: black;
    border-bottom: solid 2px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(17, minmax(0, 1fr));
    align-items: center;
}

.item-desc {
    grid-column: 1/10;
    text-align: left;
    color: rgba(0, 0, 0, 0.52);
    font-size: 13pt;
    font-weight: 300;
}

.item-qnt-down {
    grid-column: 10/12;
    width: 60%;
    justify-self: right;
}

.item-qnt {
    grid-column: 12/14;
    text-align: center;
    font-size: 13pt;
    font-weight: 300;
}

.item-qnt-up {
    grid-column: 14/16;
    width: 60%;
    justify-self: left;
}

.item-delete {
    grid-column: 16/18;
    width: 60%;
    justify-self: center;
}

.crossed-off-item {
    color: black;
    width: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-sizing: border-box;
}

.crossed-off-text {
    font-size: 12pt;
    padding-left: 10px;
    grid-column: 1/11;
    color: rgba(0, 0, 0, 0.52);
}

.deleteItem {
    width: 80%;
    grid-column: 12;
}

@media only screen and (min-width: 1200px) {
    #list-refresh {
        grid-column: 16;
    }

    .category {
        width: 25vw;
        margin-left: 37.5vw;
        margin-right: 37.5vw;
    }

    #crossed-off {
        width: 25vw;
        margin-left: 37.5vw;
        margin-right: 37.5vw;
    }

    #delete-list {
        grid-column: 7/12;
    }
}