body {
    background-color: #25394B;
}

#home {
    margin-top: 8px;
    margin-left: 8px;
}

#header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    table-layout: fixed;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
}

#home {
    grid-column: 1;
    margin: 0;
    padding: 0;
}

#footer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#delete-list {
    width: 100%;
    background-color:#E35656;
    color: white;
    grid-column: 2/7;
    margin-bottom: 15px;
    font-size: 14pt;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#delete-list:active {
    background-color: #b14040;
}

#list-name {
    grid-column: 2/7;
    text-align: center;
    font-size: 18pt;
    color: white;
    text-decoration: underline;
    margin: 0;
}

#list-refresh {
    grid-column: 7;
    width: 70%;
}

#list-code {
    color: white;
    text-align: center;
    font-size: 14pt;
    margin-top: 0;
}

#add {
    text-align: center;
    color: white;
    font-size: 28pt;
    margin: 10px 10px;
}
#categories {
    margin-bottom: 50px;
}

#crossed-off {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 100px;
}

#crossed-off-header {
    text-align: center;
    display: grid;
    border-bottom: solid 2px;
    color: white;
}

#crossed-off-title {
    font-size: 18pt;
    font-family:'Inter';
    font-style: italic;
    margin-bottom: 0px;
}

.modal-body {
    text-align: center;
}

.category {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
}

.category-header {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: white;
    align-items: center;
    justify-items: center;
}

.move-down {
    grid-column: 1;
    font-size: 10pt;
}

.move-up {
    grid-column: 2;
    font-size: 10pt;
}

.category-title {
    grid-column: 3/11;
    font-size: 18pt;
    font-family:'Inter';
    font-style: italic;
    margin-bottom: 0px;
}

.delete-category {
    grid-column: 11/13;
    width: 20px;
}

.new-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.new-item-number-input {
    margin-top: 10px;
    grid-row: 1;
    grid-column: 1/2;
    background-color: white;
    border: solid rgb(228, 225, 220);
    border-radius: 0;
}

.new-item-text-input {
    margin-top: 10px;
    grid-row: 1;
    grid-column: 2/7;
    background-color: white;
    border: solid rgb(228, 225, 220);
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.new-item-btn {
    margin-top: 10px;
    grid-row: 1;
    grid-column: 7/8;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 14pt;
    border-radius: 0;
}

.item {
    color: white;
    border-bottom: solid 2px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(17, minmax(0, 1fr));
    align-items: center;
}

.item-desc {
    grid-column: 1/10;
    text-align: left;
}

.item-qnt-down {
    grid-column: 10/12;
    text-align: center;
    font-weight: bold; 
    color: #5bc0de;
}

.item-qnt {
    grid-column: 12/14;
    text-align: center;
    font-weight: bold;
}

.item-qnt-up {
    grid-column: 14/16;
    text-align: center;
    font-weight: bold;
    color: #5bc0de;
}

.item-delete {
    grid-column: 16/18;
    font-size: 21pt;
    font-weight: bold;
    color: #949494;
    text-align: center;
}

.crossed-off-item {
    color: white;
    width: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: center;
}

.crossed-off-text {
    text-decoration: line-through;
    padding-left: 10px;
    grid-column: 1/11;
}

.deleteItem {
    color: #E35656;
    grid-column: 12;
    font-size: 18pt;
}