<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/createJoin.css">
    <title>Create List</title>
</head>
<body>
    <div id="content">
        <div id="header">
            <img id="back" src="img/icons/back.png" alt="back">
            <p>Create List</p>
        </div>
        <img id="story" src="img/story-img/create.svg" alt="Create Img" />
        <form class="input-section" action="/createList" method="post">
            <input class="user-input" type="text" placeholder="List Name" name="list" id="list" required />
            <input type="hidden" name="code" id="code" />
            <button onclick="generateRandomCode()" type="submit">Create</button>
        </form>
    </div>

    <script>
        document.getElementById('back').addEventListener('click', function() {
            window.location.href = "/";
        });

        async function generateRandomCode() {
            // Generate random code
            min = Math.ceil(1000);
            max = Math.floor(9999);
            let randomCode = Math.floor(Math.random() * (max - min + 1) + min);

            let localLists;

            document.getElementById('code').value = randomCode;
            if (localStorage.lists) {
                // localStorage only supports strings
                localLists = JSON.parse(localStorage.lists)
                localLists.push(randomCode);
                localStorage.lists = JSON.stringify(localLists);
            } else {
                localLists = [];
                localLists.push(randomCode);
                localStorage.lists = JSON.stringify(localLists);
            }
        } 
    </script>
</body>
</html>