<%- include('partials/header.ejs') %>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#38546F"/>
    <link rel="stylesheet" href="/style/home.css">
    <title>Home</title>
</head>
<body>
    <img src="/img/grocery.png" alt="grocery bag" id="main-icon">
    <div class="link-list">
        <a href="/createList"><p class="link-list-item">Create List</p></a>
        <a href="/joinList"><p class="link-list-item">Join List</p></a>
        <a href="/myLists"><p class="link-list-item">My Lists</p></a>
    </div>
    <script src="/js/search.js"></script>
</body>
</html>