<%- include('partials/header.ejs') %>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#38546F"/>
    <link rel="stylesheet" href="/style/home.css">
    <title>Home</title>
</head>
<body>
    <img src="/img/milk.png" alt="milk" id="main-icon">
    <div class="link-list">
        <a href="/createList" class="link-list-item">
            <img src="/img/menu/add.png" alt="Create Icon" /> 
            <p>Create List</p>
        </a>
        <a href="/joinList" class="link-list-item">
            <img src="/img/menu/join.png" alt="Join Icon" /> 
            <p>Join List</p>
        </a>
        <a href="/myLists" class="link-list-item">
            <img src="/img/menu/lists.png" alt="Lists Icon" /> 
            <p>My Lists</p>
        </a>
    </div>
    <script src="/js/search.js"></script>
</body>
</html>