<%- include('partials/header.ejs') %>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/createJoin.css">
    <title>Create List</title>
</head>
<body>
    <div id="content">
        <div id="header">
            <img id="back" src="img/icons/back.png" alt="back"></a>
            <p>Join List</p>
        </div>
        <img id="story" src="img/story-img/join.svg" alt="Join Img" />
        <div class="input-section">
            <input class="user-input" placeholder="List Code" type="number" name="code" id="code" min="1000" max="9999">
            <button type="button" onclick="checkCode()">JOIN</button>
            <div id="error-msg"></div>
        </div>
    </div>

    <script>
        document.getElementById('back').addEventListener('click', function() {
            window.location.href = "/";
        });
        
        async function checkCode() {
            let listCode = document.getElementById('code').value;

            let response = await axios.get(`/joinList/${listCode}`);
            
            if(response.data === true) {
                if (localStorage.lists) {
                    // localStorage only supports strings
                    localLists = JSON.parse(localStorage.lists)
                    if (false === localLists.includes(parseInt(listCode))) {
                        localLists.push(parseInt(listCode));
                        localStorage.lists = JSON.stringify(localLists);
                    }
                } else {
                    localLists = [];
                    localLists.push(parseInt(listCode));
                    localStorage.lists = JSON.stringify(localLists);
                }

                window.location.href = `/list/${listCode}`;
            } else {
                if (listCode === "") {
                    document.getElementById('error-msg').innerHTML = `Please enter a code`
                } else {
                    document.getElementById('error-msg').innerHTML = `Code ${listCode} not valid`;
                }
            }
        }
    </script>
</body>
</html>