<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/myLists.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>My Lists</title>
</head>
<body onload="loadLists()">
    <div id="content">
        <div id="header">
            <img id="back" src="img/icons/back.png" alt="back">
            <p>My Lists</p> 
        </div>
        <div id="lists"></div>
    </div>
</body>
<script>
    document.getElementById('back').addEventListener('click', function() {
        window.location.href = "/";
    });
    
    function loadLists() {
        let localLists = JSON.parse(localStorage.lists);

        console.log(localLists);

        localLists.forEach(async(list, index) => {
            await axios.get(`https://our-lists.glitch.me/myLists/${list}`)
            .then(response => {
                if(response.data !== false) {
                    // Get the name from the response
                    let name = response.data;

                    // Create link DOM object and set link
                    let card = document.createElement('div');
                    card.classList.add('list');

                    let listName = document.createElement('p');
                    listName.classList.add('list-name');
                    listName.innerHTML = name;

                    let view = document.createElement('a');
                    view.classList.add('list-view');
                    view.href = `list/${list}`;
                    view.innerHTML = 'View';

                    let link = document.createElement('a');
                    link.classList.add('list-link');
                    link.href = `list/${list}`;
                    link.innerHTML = '>';

                    card.appendChild(listName);
                    card.appendChild(view);
                    card.appendChild(link);

                    // Append card to the section of lists
                    document.getElementById('lists').appendChild(card);
                }
            })
            .catch(err => {
                localLists.splice(index, 1); // 2nd parameter means remove one item only

                console.log(`Local Lists: ${localLists}`)

                localStorage.lists = JSON.stringify(localLists);
            });
        });
    }
</script>
</html>